beautifulsoup4
certifi
chardet
click
entrypoints
flake8
Flask
idna
itsdangerous
Jinja2
MarkupSafe
mccabe
pycodestyle
pyflakes
requests
git+git://github.com/Terrance/SkPy@master
soupsieve
urllib3
Werkzeug
gunicorn
